<footer class="footer">
    <div class="footer-container-one">
        <div class="footer-links">
            <div class="footer-links-box">
                <p class="about-footer" >INFORMACIÓN</p>
                <ul>
                    <li><a href="home" >Inicio</a></li>
                    <li><a href="https://github.com/Rosaidabhz" >github</a></li>

                 </ul>
            </div>
            <div class="footer-links-box">
                <p class="about-footer" >DATOS</p>
                <ul>
                    <li><a >Hecho por rosaidabhz</a></li>
                    <li><a >Numero telefonico</a></li>
                    <li><a >32026203262</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-about">
            <p class="about-footer" >ACERCA DE</p>
            <br>
            <p class="aboutt-footer">La base de la pokedex gira e torno al servicio que llama la PokeApi, esta funcion es llamada a cada uno de los componentes 
                generados al inicio del proyecto y el TS de cada componente se encarga de llamar los datos requeridos desde la PokeAPI.</p>
                Este proyecto esta hecho en angular, la api utilizada es de la pagina pokeapi.co
            </div>
    </div>
    <hr class="footer-space">
    <div class="footer-container-two">
        <div class="footer-copyright">
            <p class="about-footer">Copyright © 2023 All Rights Reserved by rosaidabhz</p>
        </div>
    </div>
</footer>