<div class="button">
  <div class="container-search">
    <input class="search" type="text" placeholder="busca el nombre del pokemon “bulbasaur”" [(ngModel)]="name">
    <button class="boton-search"  (click)="search()">Buscar</button>
  </div>
</div>

<div class="container">
  <button class="btn btn-primary mt-3 mx-auto d-block boton-pokemones" type="button" data-toggle="modal" data-target="#pokecardModal" *ngIf="showPokecard">
    Ver detalles del Pokémon
  </button>
</div>


<div class="modal" tabindex="-1" role="dialog" id="pokecardModal">
  <div [ngClass]="pokemonTypeClass" class="pokecard">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    <p class="name-pokemon {{pokemonTypeClass}}">{{name}}</p>
    <img class="pokeball" src="assets/images/Pokeball.png">
    <p class="namepokemon">{{urlNam}}</p>
    <div class="image" style="text-align: center;">
      <img class="img" src="{{urlImg}}">
    </div>    
    <div class="cardtext" >
      <p class="name-pokemon {{pokemonTypeClass}}">Tipo: {{getTranslatedType()}}</p>
      <p>{{ description }}</p>   
      <p class="text">Ataque: {{urlAtt}}</p>
      <div class="progress-bar">
        <div class="progress" [style.width.%]="urlAtt" style="background-color: blue;"></div>
      </div>
      <p class="text">Defensa: {{urlDef}}</p>
      <div class="progress-bar">
        <div class="progress" [style.width.%]="urlDef" style="background-color: green;"></div>
      </div>
      <p class="text">Ataque especial: {{urlSpAtt}}</p>
      <div class="progress-bar">
        <div class="progress" [style.width.%]="urlSpAtt" style="background-color: purple;"></div>
      </div>
      <p class="text">Defensa Especial: {{urlSpDef}}</p>
      <div class="progress-bar">
        <div class="progress" [style.width.%]="urlSpDef" style="background-color: orange;"></div>
      </div>
    </div>      
  </div>
</div>

