<section class="container_portada">
    <p class="titlebienvenidos">Bienvenidos</p>
</section>
<div class="container color-container">
    <div class="d-flex justify-content-center flex-column flex-md-row">
        <div class="a d-flex">
            <div class="cuadro-2">
                <h1 class="titlepokemon"></h1>
                <img src="assets/images/Gengar.webp" class="img-list-2">
            </div>
            <div class="cuadro-2">
                <h1 class="titlepokemon"></h1>
                <img src="assets/images/Eevee.webp" class="img-list-2">
            </div>
            <div class="cuadro-2">
                <h1 class="titlepokemon"></h1>
                <img src="assets/images/Pikachu.webp" class="img-list-2">
            </div>
        </div>
        <img src="assets/images/imagenportada.png" alt="imagenpokebola" class="imgpokebola">
        <div class="a d-flex ">
            <div class="cuadro-2">
                <h1 class="titlepokemon"></h1>
                <img src="assets/images/Psyduck.webp" class="img-list-2">
            </div>
            <div class="cuadro-2">
                <h1 class="titlepokemon"></h1>
                <img src="assets/images/Jigglypuff.webp" class="img-list-2">
            </div>
            <div class="cuadro-2">
                <h1 class="titlepokemon"></h1>
                <img src="assets/images/Snorlax.webp" class="img-list-2">
            </div>
        </div>
    </div>
</div>
<br>
<br>

<div class="container text-center"> 
    <h1 class="titlebienvenidos-2" >¿Cuál es tu Pokemon favorito de la primera generación?</h1>
    <p>Busca tu pokemon favorito y enterate de sus habilidades, sus datos, su fuerza.</p>
    <p style="color: rgb(226, 43, 89);">Usa el buscador para ver su tarjeta</p>
</div>
<app-pokemon></app-pokemon>
<br>
<app-pokecard></app-pokecard>
<br>