<section class="container_portada" >
    <p class="titlebienvenidos">Bienvenidos</p>
</section>
<div class="container color-container">
    <div class="d-flex justify-content-center flex-column flex-md-row">
        <div class="a d-flex">
            <div class="cuadro-2">
                <h1 class="titlepokemon"></h1>
                <img src="assets/images/Gengar.webp" class="img-list-2">
            </div>
            <div class="cuadro-2">
                <h1 class="titlepokemon"></h1>
                <img src="assets/images/Eevee.webp" class="img-list-2">
            </div>
            <div class="cuadro-2">
                <h1 class="titlepokemon"></h1>
                <img src="assets/images/Pikachu.webp" class="img-list-2">
            </div>
        </div>
        <img src="assets/images/a.png" alt="imagenpokebola" class="imgpokebola">
        <div class="a d-flex ">
            <div class="cuadro-2">
                <h1 class="titlepokemon"></h1>
                <img src="assets/images/Psyduck.webp" class="img-list-2">
            </div>
            <div class="cuadro-2">
                <h1 class="titlepokemon"></h1>
                <img src="assets/images/Jigglypuff.webp" class="img-list-2">
            </div>
            <div class="cuadro-2">
                <h1 class="titlepokemon"></h1>
                <img src="assets/images/Snorlax.webp" class="img-list-2">
            </div>
        </div>
    </div>
</div>
<br>
<div class="container" style="display: flex; justify-content: space-between; align-items: center;">
    <div class="poke-title-bienvenida">
      <h4 class="titlebienvenidos-2">¿Cuál es tu Pokemon favorito de la primera generación?</h4>
      <p style="font-size: 20px;color: rgb(172, 12, 12);">Busca tu pokemon favorito y enterate de sus habilidades,  su fuerza, todos sus datos.</p>
      <p style="color: rgb(24, 3, 3); font-size: 20px;">Usa el buscador para ver su tarjeta y cuando ya hayas visualizado
        <br>tus favoritos, dirigete al menu y <b style="color: rgb(14, 67, 102);">has tu equipo vs mi equipo</b> </p>
    </div>
    <img class="pokemon-img" src="assets/images/png.png" >
</div>

<app-pokemon></app-pokemon>
<br>
<app-pokecard></app-pokecard>
